body{
    margin: 0;
}
.uplode-img{
    height: 110px;
    border-radius: 2px;
}  
.uplod-img-lable{
    display: block;
    width: 40%;
    background-color: blue;
    color: white;
    padding: 8px;
    margin-top: 3px;
    border-radius: 5px;
}