<div class="d-flex flex-column">
    <div class="first-block">
        <div class="p-4 d-flex justify-content-center w-100">
            <h1 class="text-white fs-1 fw-bold">Recipe book</h1>
        </div>
        <form [formGroup]="filterFormGroup">
        <div class="p-4 d-flex flex-column">
            <h1 class="text-white fs-2 fw-bold">It is even better than <br>an expensive cookery book</h1>
            <div class="d-flex flex-wrap align-items-center">
                <mat-form-field class="me-2 p-0 m-0">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories | async" [value]="category.name">{{category.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div class="search-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search..." formControlName="search">
                        <button  mat-icon-button matSuffix  (click)="applyFilter()"><mat-icon>search</mat-icon></button>
                      </mat-form-field>
                </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <button mat-raised-button color="primary" class="me-1" (click)="sortRecipesByName()">Sort</button>
                <button mat-raised-button color="primary" class="me-1" (click)="reset()">Reset All</button>
                <button mat-raised-button color="primary" (click)="addYourRecipe()">Add Your Recipe</button>
            </div>
        </div>
    </form>
    </div> 
    <div class="bg-success d-flex flex-column contnir w-100">
        <div class="p-4 d-flex justify-content-center">
            <h1 class="text-white fw-bold text-center">Savor the art of culinary creation with these recipes,<br> where
                every ingredient tells a delicious story.</h1>
        </div>
        <div class="d-flex justify-content-around flex-wrap">  
            <ng-container *ngFor="let recipe of (recipes | async)">
                <app-recipe-card appHighlight [recipes]="recipe" (recipeId)="goToDetailPage(recipes)" (delete)="deleteRecipe(recipe.id)"  (favoriteChange)="onFavoriteChange($event)" appFavoriteFade="{{recipe.id}}"></app-recipe-card>
            </ng-container>
        </div>
    </div>
</div>

